@font-face {
	font-family: "Atkinson";
	src: url("https://pudding.cool/assets/fonts/atkinson/atkinson-hyperlegible-v1-latin-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson";
	src: url("https://pudding.cool/assets/fonts/atkinson/atkinson-hyperlegible-v1-latin-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}
