@font-face {
	font-family: "Baloo Bhai";
	src: url("https://pudding.cool/assets/fonts/baloo-bhai/baloo-bhai-2-v16-latin-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}
