:root {
  --primary: #f30;
}

.skip-to-main {
	border: none;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}

.skip-to-main:focus {
	width: auto;
	height: auto;
	padding: 0.5em;
	z-index: 1000;
} 

/* demo */
#demo svg {
	width: 1em;
	vertical-align: middle;
}