:root {
	--sans: "National 2 Web", Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Georgia, Times, serif;
	--mono: Menlo, Consolas, Monaco, 'Courier New', monospace;
	
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	--black: #000;
	--off-black: #282828;
	--gray-dark: #5b5b5b;
	--gray: #949494;
	--gray-light: #c9c9c9;
	--off-white: #f4f4f4;
	--white: #fff;
	
	--bg: var(--white);
	--fg: var(--off-black);
	--primary: var(--off-black);
}

.skip-to-main {
	border: none;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}

.skip-to-main:focus {
	width: auto;
	height: auto;
	padding: 0.5em;
	z-index: 1000;
} 

/* demo */
#demo svg {
	width: 1em;
	vertical-align: middle;
}