@font-face {
	font-family: "Computer Modern";
	src: url("https://pudding.cool/assets/fonts/computer-modern/cmunrm.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Computer Modern";
	src: url("https://pudding.cool/assets/fonts/computer-modern/cmunrb.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Computer Modern";
	src: url("https://pudding.cool/assets/fonts/computer-modern/cmunsl.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	font-display: swap;
}
