@font-face {
	font-family: "Cozette";
	src: url("https://pudding.cool/assets/fonts/cozette/CozetteVector.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}