@font-face {
	font-family: "National 2 Web";
	src: url("https://pudding.cool/assets/fonts/national/National2Web-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}