@font-face {
	font-family: "Roboto";
	src: url("https://pudding.cool/assets/fonts/roboto/roboto-condensed-v24-latin-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}