@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "National 2 Web", Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Georgia, Times, serif;
	--mono: Menlo, Consolas, Monaco, "Courier New", monospace;
	
	/* z-index */
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	/* presets */
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-black);
  --color-link: var(--color-purple);
  --color-focus: var(--color-red);
  --color-highlight: var(--color-yellow);
	--color-border: var(--color-gray-300);
	--color-selection: var(--color-gray-300);
	--color-button-bg: var(--color-gray-300);
	--color-button-fg: var(--color-gray-900);
	--color-button-hover: var(--color-gray-400);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);
	
}

h1 {
	font-size: var(--48px);
}

h2 {
	font-size: var(--36px);
}

h3 {
	font-size: var(--28px);
}

h4 {
	font-size: var(--24px);
}

h5 {
	font-size: var(--22px);
}

h6 {
	font-size: var(--20px);
}