
body {
	background-color: var(--color-bg);
  color: var(--color-fg);
	line-height: 1.4;
	font-family: var(--font-body);
	font-feature-settings: 'kern' 1, 'onum' 0, 'liga' 0, 'tnum' 1;
	text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 1rem 0;
}

mark {
  background-color: var(--color-highlight);
  padding: 0 0.25em;
}

a {
  color: var(--color-link);
}

img,
video {
	display: block;
  max-width: 100%;
  height: auto;
}

button,
select,
textarea,
input[type="submit"],
input[type="button"] {
	appearance: none;
  background-color: var(--color-form-bg);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-form-fg);
  font-family: var(--font-form);
  font-size: inherit;
  outline: none;
  padding: 0.5em;
}

button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="range"],
input[type="submit"],
select {
  cursor: pointer;
}

input[type="button"],
input[type="range"],
input[type="submit"],
select {
  display: inline-block;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background: var(--color-form-bg);
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 0 2px var(--color-focus);
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table caption,
td,
th {
  text-align: left;
}

td,
th {
  padding: 0.25em;
  vertical-align: top;
  word-wrap: break-word;
}

thead {
  border-bottom: 1px solid var(--color-border);
}

tfoot {
  border-top: 1px solid var(--color-border);
}

::-moz-placeholder {
  color: var(--color-placeholder);
}

:-ms-input-placeholder {
  color: var(--color-placeholder);
}

::-ms-input-placeholder {
  color: var(--color-placeholder);
}

::placeholder {
  color: var(--color-placeholder);
}

::-moz-selection {
  background-color: var(--color-selection);
}
::selection {
  background-color: var(--color-selection);
}


.skip-to-main {
	border: none;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}

.skip-to-main:focus {
	background-color: var(--color-off-black);
	color: var(--color-white);
	width: auto;
	height: auto;
	padding: 0.5em;
	z-index: var(--z-overlay);
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}