@font-face {
	font-family: "Jamboree";
	src: url("https://pudding.cool/assets/fonts/jamboree/Jamboree.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}