@font-face {
	font-family: "Jersey M54";
	src: url("https://pudding.cool/assets/fonts/jersey/Jersey-M54.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}