@font-face {
	font-family: "Lyon Display";
	src: url("https://pudding.cool/assets/fonts/lyon/LyonDisplay-Regular-Web.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}