@font-face {
	font-family: "Publico Text";
	src: url("https://pudding.cool/assets/fonts/publico/PublicoText-Roman-Web.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Publico Text";
	src: url("https://pudding.cool/assets/fonts/publico/PublicoText-Bold-Web.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}
