@font-face {
	font-family: "Inter";
	src: url("https://pudding.cool/assets/fonts/inter/Inter-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url("https://pudding.cool/assets/fonts/inter/Inter-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}


@font-face {
	font-family: "Inter";
	src: url("https://pudding.cool/assets/fonts/inter/Inter-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("https://pudding.cool/assets/fonts/inter/Inter-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}