@font-face {
	font-family: "Metropolis";
	src: url("https://pudding.cool/assets/fonts/metropolis/Metropolis-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Metropolis";
	src: url("https://pudding.cool/assets/fonts/metropolis/Metropolis-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Metropolis";
	src: url("https://pudding.cool/assets/fonts/metropolis/Metropolis-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Metropolis";
	src: url("https://pudding.cool/assets/fonts/metropolis/Metropolis-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}