:root {
	--sans: "National 2 Web", Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Georgia, Times, serif;
	--mono: Menlo, Consolas, Monaco, "Courier New", monospace;
	
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	--black: #000;
	--off-black: #282828;
	--gray-dark: #5b5b5b;
	--gray: #949494;
	--gray-light: #c9c9c9;
	--off-white: #f0f0f0;
	--white: #fff;
	--purple: #a239ca;
	--blue: #4717f6;
	--green: #34a29e;
	--red: #ff533d;
	--yellow: #e5e338;

	/* water.css */

	--body-font: var(--serif);
	--background-body: var(--white);
  --background: var(--off-white);
  --background-alt: var(--off-white);
  --selection: var(--gray);
  --text-main: var(--off-black);
  --links: var(--purple);
  --focus: var(--green);
  --border: var(--gray-light);
  --animation-duration: 0.1s;
  --button-hover: var(--gray-light);
  --scrollbar-thumb: color-mod(var(--button-hover) lightness(-3%));
  --scrollbar-thumb-hover: color-mod(var(--button-hover) lightness(-10%));
	--form-placeholder: var(--gray-dark);
	--form-font: var(--sans);
	--form-text: var(--gray-dark);
	--input-thumb: var(--gray-dark);
  --highlight: var(--yellow);
}

.skip-to-main {
	border: none;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}

.skip-to-main:focus {
	width: auto;
	height: auto;
	padding: 0.5em;
	z-index: 1000;
}

/* pudding */
.wordmark svg path {
	fill: currentColor;
}

/* demo */
#demo svg {
	width: 1em;
	vertical-align: middle;
}